.container{
    width: 100%;
    height: 100vh;
    display: flex;

    .image-container{
       height: 100%;
        width: calc(100% - 560px);
        background-image: url('../../../assets/images/pixel-perfect-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;

    }
}


@media screen and (max-width: 992px) {
    .image-container{
        width: 50%;
    }
  }


@media screen and (max-width: 768px) {
    .image-container{
        display: none;
    }
  }
