@import "../../../assets/style/common.scss";
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    font-family: $montserrat;
    background-color: #6675df;
    outline: none;
    border: none;
    transition: all 0.4s;
    font-weight: bold;
  }
}

button:focus {
  background-color: $color-hover;
}

button:hover {
  background-color: $color-hover;
  cursor: pointer;
}
