@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import "./assets/style/common.scss";
//variabili scss

* {
  box-sizing: border-box;
  margin: 0, auto;
  padding: 0;
}

.App {
  font-family: $poppins;
  background-color: $bg-body;
}
